body {
    background-image: url(https://imgs.search.brave.com/w5LHa9EDx3Rw40Jr9n4Z8Dvh65GGQr--jJLaJFm7F_8/rs:fit:1200:700:1/g:ce/aHR0cHM6Ly9pbWFn/ZXMuaWRnZXNnLm5l/dC9pbWFnZXMvYXJ0/aWNsZS8yMDIwLzEy/L3NodXR0ZXJzdG9j/a182NzIzOTI3NzYt/MjkuMTIuMjAtd2h5/LWNyeXB0b2dyYXBo/eS1zZXQtdG8tdW5k/ZXJwaW4tMjAyMS1p/dC1zZWN1cml0eS0x/MDA4NzAwMDctbGFy/Z2UuanBn);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


    display: flex;
    flex-direction: column;
    margin: 5rem;
    gap: 1rem;
}

footer {
    /* background-color: white; */
    padding: 1%;
    font-size: larger;
    font-weight: bold;
}

nav {
    height: 50px;
    background-color: lightgray;
    display: flex;
    margin-bottom: 10px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

* {
    color: white;
}

.nav-link {
    font-size: 17px;
}

#nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li {
    display: flex;
    justify-content: center;
}


button {
    color: black;
    padding: 10px;
    border-radius: 10px;
}

div {
    display: flex;
    justify-content: center;
}

li {
    font-size: 18px;
}